html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.logo-container {
  padding-top: 1rem;
}

.logo-container h1 {
  display: flex;
margin-top: 10rem;
font-size: 2rem;
font-weight: bold;
line-height: 1.2;
background-color: white;
padding: 1.5rem 5rem;
width: 25rem;
height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  width: 960px;
  height: auto;
  margin: auto;
  color: white;
  height: 3.5rem;
}

.logo {
    display: flex;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 1rem 2rem 1rem 0;
}

.slogan {
  background-color: black;
}
